<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Roboto+Slab:wght@100;400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/cc3f10a93d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
    <div class="page-main">

      <header>
        <div class="header">
          <a href="" class="header__logo"></a>
          <ul class="header-list">
            <li class="header-list__item"><a href="" class><a href="" class="header-list__link">Home</a></li>
            <li class="header-list__item"><a href="" class="header-list__link">About</a></li>
            <li class="header-list__item"><a href="" class="header-list__link">Contents</a></li>
            <li class="header-list__item"><a href="" class="header-list__link">Books</a></li>
            <li class="header-list__item"><a href="" class="header-list__link">Education</a></li>
           <li class="header-list__item"><a href="" class="header-list__link">Skills</a></li>
           <li class="header-list__item"><a href="" class="header-list__link">Portfolio</a></li>
           <li class="header-list__item"><a href="" class="header-list__link">Clients</a></li>
           <li class="header-list__item"><a href="" class="header-list__link">Contacts</a></li>
          </ul>
          </div>


          <div class="wrap">
            <div class="block-book">
              <div class="block-book-demo">
                <h2 class="block-book-demo__title">Good book
                   <span class="block-book-demo__subtitle">Don’t judge a book by its cover</span> </h2>
                <p class="block-book-demo__autor">- By Emma Anderson</p>
            </div>
            <div class="block-text">
              <p class="block-text__name">- By Emma Anderson</p>
              <h1 class="block-text__title">
                BUKEE: THE BOOK
                 <span>A room without books is like a body without a soul</span>
               </h1>
               <p class="block-text__description">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                   nisi ut aliquip ex ea commodo consequat.
                 </p>
               <p class="block-text__description">
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident,
               sunt in culpa qui officia deserunt mollit anim id est laborum.
             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
               </p>
               <a href="" class="block-text__btn">Buy this book - $15.00 </a>
               <small>* Some conditions may applicable</small>

            </div>
          </div>
        </div>

      </header>
</div>


      <div class="block block_white">
      <div class="wrap">

      <div class="block-autor">
      <div class="block-text">
        <p class="block-text__name block-text__name-top">- Book Author</p>
        <h1 class="block-text__title">Emma Anderson
        <span>A room without books is like a body without a soul</span>
      </h1>
       <p class="block-text__description block-text__description-color">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
       <p class="block-text__description block-text__description-color">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
      </p>
      <a href="" class="block-text__btn block-text__btn-top">Read full biography</a>
       </div>


       <div class="block-autor-img">
         <svg width="435" height="558" class="block-autor-img__svg">
           <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="490.75" y1="572.25" x2="-40.75" y2="40.75">
             <stop  offset="0" style="stop-color:#5ACAB1"/>
             <stop  offset="0.9984" style="stop-color:#426384"/>
 </linearGradient>
              <rect width="435" height="558" x="0" y="0" fill="url(#gradient)"></rect>
         </svg>
            <img class="block-autor-img__png" src="../img/photo_small.png">
         </div>
       </div>

           <div class="block-count">
             <p class="block-count__item"><span>12</span>Total published books</p>
             <p class="block-count__item"><span>5</span>Happy readers</p>
             <p class="block-count__item"><span>15,000</span>Happy readers</p>
                   </div>
             </div>
      </div>

      <div class="block block_grey">
      <div class="wrap">
        <h2 class="block__title">Book contents  </h2>
        <p class="block__subtitle">Let’s see what we have covered in the book</p>

        <div class="block-about">
          <div class="block-about-text">
          <h3>About the book</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.
          </p>
          <div class="in-lain">
          <p class="in-lain__subtitle">Featured in:</p>
          <ul class="in-lain__list">
            <li><i class="fab fa-sass"></i></li>
            <li><i class="fab fa-amazon"></i></li>
            <li><i class="fab fa-stack-overflow"></i></li>
          </ul>
        </div>
        </div>
        <div class="block-about-table">
          <h3>Table of contents</h3>
          <ol class="block-about-table__list">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipisicing elit</li>
            <li>Labore et dolore magna</li>
            <li>Consectetur adipisicing elit</li>
            <li>Labore et dolore magna</li>

            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipisicing elit</li>
            <li>Labore et dolore magna</li>
            <li>Consectetur adipisicing elit</li>
            <li>Labore et dolore magna</li>

          </ol>
          <button class="block-about-table__btn">More</button>
        </div>
      </div>
    </div>
  </div>

      <div class="block">
      <div class="wrap">
        <h2 class="block__title block__title_margin">Other Books </h2>
        <p class="block__subtitle">Some books you might be interested in</p>

          <div class="more-books">
            <div class="more-books__item">
            <div class="more-books-img">
              <h2 class="more-books-img__title">Inception
                 <span class="more-books-img__subtitle">Books are the best friends</span> </h2>
              <p class="more-books-img__autor">- By Emma Anderson</p>
            </div>
            <h3 class="more-books__title">Inception</h3>
            <p class="more-books__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et dolore
            </p>
            <p class="more-books__btn"><a href="" class="more-books__link">READ MORE</a></p>
          </div>

          <div class="more-books__item">
            <div class="more-books-img">
              <h2 class="more-books-img__title">Fight Club
                 <span class="more-books-img__subtitle">Books are the best friends</span> </h2>
              <p class="more-books-img__autor">- By Emma Anderson</p>
            </div>
            <h3 class="more-books__title">Fight Club</h3>
            <p class="more-books__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et dolore
            </p>
            <p class="more-books__btn"><a href="" class="more-books__link">READ MORE</a></p>
          </div>

          <div class="more-books__item">
            <div class="more-books-img">
              <h2 class="more-books-img__title">Daredevils
                 <span class="more-books-img__subtitle">Books are the best friends</span> </h2>
              <p class="more-books-img__autor">- By Emma Anderson</p>
            </div>
            <h3 class="more-books__title">Daredevils</h3>
            <p class="more-books__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et dolore
             </p>
             <p class="more-books__btn"><a href="" class="more-books__link">READ MORE</a></p>

          </div>
        </div>

              <a href="" class="block__btn">Browse all books</a>
      </div>
    </div>


    <div class="block block_white">
    <div class="wrap">

    <div class="block-autor">
      <div class="block-autor-img block-autor-img--left">
        <svg width="435" height="704" class="block-autor-img__svg">
          <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="490.75" y1="572.25" x2="-40.75" y2="40.75">
            <stop  offset="0" style="stop-color:#5ACAB1"/>
            <stop  offset="0.9984" style="stop-color:#426384"/>
 </linearGradient>
             <rect width="435" height="704" x="0" y="0" fill="url(#gradient)"></rect>
        </svg>
           <img class="block-autor-img__png--left"  src="../img/photo_big.png">
        </div>
    <div class="block-text">
      <p class="block-text__name block-text__name-top">- Emma Anderson</p>
      <h1 class="block-text__title">Upcoming Events
      <span>Some upcoming events you might be interested in</span>
    </h1>
    <div class="block-text-item">
      <p class="block-text-item__date">November 21, 2018</p>
      <h4 class="block-text-item__title">Book signing - San francisco, CA</h4>
     <p class="block-text__description block-text__description-top">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
      </p>
      <a href="" class="block-text-item__but">Register</a>
    </div>
    <div class="block-text-item">
      <p class="block-text-item__date">November 21, 2018</p>
      <h4 class="block-text-item__title">Book reading - Los Angeles, CA</h4>
     <p class="block-text__description block-text__description-top">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    </p>
    <a href="" class="block-text-item__but">Register</a>
  </div>

     </div>
     </div>
           </div>
    </div>
    <div class="block block_grey block_padding">
    <div class="wrap">
      <h2 class="block__title">Latest from Blog</h2>
      <p class="block__subtitle">Some of the latest posts from my personal blog</p>

<div class="block-blog">
  <div class="block-blog-item">
    <div class="block-blog-img"><img src="../img/blog1.png"></div>
      <h4>Importance of light in photography</h4>
      <div class="block-blog-info">
        <p>By<a href=""> Emma Anderson </a><span>-</span><a href=""> June 20 </a><span>, </span><a href="">2018</a></p>
      </div>
        <p class="block-blog__desc">
          Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.
           Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
  </div>
  <div class="block-blog-item">
    <div class="block-blog-img"><img src="../img/blog2.jpg"></div>
      <h4>The tools you need for the perfection</h4>
      <div class="block-blog-info">
        <p>By<a href=""> Emma Anderson </a><span>-</span><a href=""> June 25</a><span>, </span><a href="">2018</a></p>
      </div>
        <p class="block-blog__desc">
          Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.
           Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
  </div>
  <div class="block-blog-item">
    <div class="block-blog-img"><img src="../img/blog3.jpg"></div>
      <h4>Knowing the difference is important</h4>
      <div class="block-blog-info">
        <p>By<a href=""> Emma Anderson </a><span>-</span><a href=""> August 22</a><span>,</span><a href=""> 2018</a></p>
      </div>
        <p class="block-blog__desc">
          Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.
           Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
  </div>
</div>
          <a href="" class="block__btn">Read more in the blog</a>
    </div>
  </div>

<div class="block">
  <div class="wrap">

      <div class="block-letter">
        <div class="block-letter__item">
          <h2 class="block-letter__title">Join Newsletter</h2>
          <p class="block-letter__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
        </div>
        <div class="block-letter__item">
          <input text="text" name="" placeholder="Enter your email" class="block-letter__input"></input>
          <button class="block-letter__btn">Subscribe</button>
        </div>
      </div>

  </div>
</div>



<div class="footer">
  <div class="wrap">
    <div class="footer-block">
      <div class="footer-item">
          <a href="" class="footer-item__logo"></a>
          <p class="footer-item__text">
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         </p>
          <p class="footer-item__text footer-item__text-copy">© 2018 Bukee Private Limited.</p>
      </div>
      <div class="footer-item footer-item-left">
          <h2 class="footer-item__title">Useful Links</h2>
          <ul class="footer-item__list">
          <li>About Bukee</li>
          <li>Explore Our Ecosystem</li>
          <li>Monthly Community Meetup</li>
          <li>Privacy Policy</li>
        </ul>
      </div>

      <div class="footer-item footer-item-right">
          <h2 class="footer-item__title">Our Contacts</h2>
          <p class="footer-item__text">Amphitheatre Parkway, CA, 94043<br>
          Call us on: +4455663322<br>
          Email: support@bukee.mail</p>
          <ul class="footer-item__social">
            <li> <a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li> <a href=""><i class="fab fa-twitter"></i></a></li>
            <li> <a href=""><i class="fab fa-twitch"></i></a></li>
            <li> <a href=""><i class="fab fa-youtube"></i></a></li>
            <li> <a href=""><i class="fab fa-slack-hash"></i></a></li>
            <li> <a href=""><i class="fab fa-whatsapp"></i></a></li>
          </ul>


      </div>
    </div>
  </div>
</div>

        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
